#contener{
    border: solid 1px black;
    /*width: 80%;*/
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 200px;
    /*grid-template-areas: "a a a"
                         "b c c"
                         "b e f"
                         "d d d";*/
}

/*.enfant{
    width: 400px;
    height: 400px;
}*/

.grid1{
    /*width: 400px;
    height: 400px;*/
    background-color: blue;
    grid-area: 1 / 1 / 2 / 3;
}

.grid2{
    /*width: 400px;
    height: 400px;*/
    background-color: red;
    grid-area: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    }

/*.grid2 *{
    margin: 25% 50%;
}*/

.grid3{
    /*width: 400px;
    height: 400px;*/
    background-color: hotpink;
    grid-area: 2 / 2;
}

.grid4{
    /*width: 400px;
    height: 400px;*/
    background-color: green;
    grid-area: 3 / 1;
}

.grid5{
    /*width: 400px;
    height: 400px;*/
    background-color: blueviolet;
    grid-area: 3 / 2;
}

.grid6{
    /*width: 400px;
    height: 400px;*/
    background-color:gold;
    grid-area: 3 / 3;
}